@import "tailwindcss";

@theme {
    --color-bg-top: rgba(100, 153, 233, 0.9);
    --color-bg-bottom: rgba(190, 255, 247, 0.8);
    --shadow-btn: 4px 8px 10px rgba(22, 17, 121, 0.4);
}

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
}

@layer components {
    .app-layout {
        @apply h-[100vh] w-[400px] bg-gradient-to-b from-bg-top to-bg-bottom mx-auto;
    }
    .input-style {
        @apply bg-white placeholder:text-gray-400 px-4 py-2 rounded-lg focus:outline-hidden focus:shadow-xl/30 focus:shadow-indigo-600;
    }
    .form-btn {
        @apply bg-[#687EFF] text-center text-white text-xl py-2 rounded-lg cursor-pointer  font-bold shadow-btn hover:bg-[#FFFD8C] hover:text-blue-500 disabled:cursor-not-allowed disabled:bg-indigo-950/30 disabled:text-gray-500;
    }
    .bg-box {
        @apply grid grid-cols-1 pt-10 px-8;
    }
}
